<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- @!Favicon -->
        <link rel="shortcut icon" href="./Images/favicon.png" />
        <!-- @!Client side js -->
        <script defer src="./client.js"></script>
    </head>
    <body>
        <!-- @!Heading & Sub -->
        <header>
            <h1>Not sure what to song to bring tonight?</h1>
            <h3>Don't worry, we got you 😉</h3>
        </header>

        <!-- @!Generation cont -->
        <article>
            <form id="generation-form" action="/" method="POST">
                <!-- !title and result section -->
                <section style="border: 1px solid red">
                    <!-- title -->

                    <!-- no number generated yet -->
                    <!-- <h2>No number generated yet</h2>
                    <img
                        src="./Images/no-song-brought-img.png"
                        alt="no song yet image"
                    /> -->

                    <!-- Generated number -->
                    <h2>We are singing song number...</h2>
                    <h2 id="generated-num">No song num yet</h2>
                    <p id="song-title"><% locals.songTitle || "Default" %></p>
                </section>
                <!-- !buttons and dropdown section -->
                <section>
                    <!-- generate button icon -->
                    <svg
                        width="32"
                        height="33"
                        viewBox="0 0 32 33"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M32 3.16667V12.5C32 12.8611 31.8681 13.1736 31.6042 13.4375C31.3403 13.7014 31.0278 13.8333 30.6667 13.8333H21.3333C20.75 13.8333 20.3403 13.5556 20.1042 13C19.8681 12.4583 19.9653 11.9792 20.3958 11.5625L23.2708 8.6875C21.2153 6.78472 18.7917 5.83333 16 5.83333C14.5556 5.83333 13.1771 6.11458 11.8646 6.67708C10.5521 7.23958 9.41667 8 8.45833 8.95833C7.5 9.91667 6.73958 11.0521 6.17708 12.3646C5.61458 13.6771 5.33333 15.0556 5.33333 16.5C5.33333 17.9444 5.61458 19.3229 6.17708 20.6354C6.73958 21.9479 7.5 23.0833 8.45833 24.0417C9.41667 25 10.5521 25.7604 11.8646 26.3229C13.1771 26.8854 14.5556 27.1667 16 27.1667C17.6528 27.1667 19.2153 26.8056 20.6875 26.0833C22.1597 25.3611 23.4028 24.3403 24.4167 23.0208C24.5139 22.8819 24.6736 22.7986 24.8958 22.7708C25.1042 22.7708 25.2778 22.8333 25.4167 22.9583L28.2708 25.8333C28.3958 25.9444 28.4618 26.0868 28.4688 26.2604C28.4757 26.434 28.4236 26.5903 28.3125 26.7292C26.7986 28.5625 24.9653 29.9826 22.8125 30.9896C20.6597 31.9965 18.3889 32.5 16 32.5C13.8333 32.5 11.7639 32.0764 9.79167 31.2292C7.81944 30.3819 6.11806 29.2431 4.6875 27.8125C3.25694 26.3819 2.11806 24.6806 1.27083 22.7083C0.423611 20.7361 0 18.6667 0 16.5C0 14.3333 0.423611 12.2639 1.27083 10.2917C2.11806 8.31944 3.25694 6.61806 4.6875 5.1875C6.11806 3.75694 7.81944 2.61806 9.79167 1.77083C11.7639 0.923611 13.8333 0.5 16 0.5C18.0417 0.5 20.0174 0.885417 21.9271 1.65625C23.8368 2.42708 25.5347 3.51389 27.0208 4.91667L29.7292 2.22917C30.1319 1.79861 30.6181 1.70139 31.1875 1.9375C31.7292 2.17361 32 2.58333 32 3.16667Z"
                            fill="white"
                        />
                    </svg>

                    <!-- generate button -->
                    <input type="submit" id="generate-btn" value="Generate"></input>

                    <!-- options button icon -->
                    <svg
                        width="33"
                        height="34"
                        viewBox="0 0 33 34"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M16.52 0.75C17.7433 0.763333 18.9617 0.905 20.1567 1.17167C20.4109 1.22842 20.641 1.36317 20.8149 1.5571C20.9889 1.75103 21.0978 1.99445 21.1267 2.25333L21.41 4.79833C21.45 5.15714 21.5737 5.50155 21.7711 5.80384C21.9684 6.10614 22.234 6.35788 22.5464 6.53882C22.8589 6.71975 23.2094 6.82482 23.5698 6.84558C23.9303 6.86634 24.2905 6.8022 24.6217 6.65833L26.955 5.63333C27.1921 5.52892 27.4557 5.50074 27.7095 5.55269C27.9633 5.60464 28.1947 5.73416 28.3717 5.92333C30.0585 7.72526 31.3149 9.88605 32.0467 12.2433C32.1231 12.4912 32.1206 12.7568 32.0393 13.0031C31.9581 13.2495 31.8022 13.4645 31.5933 13.6183L29.525 15.145C29.2336 15.3586 28.9966 15.6379 28.8332 15.9602C28.6699 16.2824 28.5848 16.6387 28.5848 17C28.5848 17.3613 28.6699 17.7176 28.8332 18.0398C28.9966 18.3621 29.2336 18.6414 29.525 18.855L31.5967 20.38C31.8059 20.5339 31.962 20.7492 32.0432 20.9959C32.1245 21.2426 32.1268 21.5085 32.05 21.7567C31.3187 24.1138 30.0629 26.2746 28.3767 28.0767C28.2 28.2658 27.969 28.3954 27.7156 28.4476C27.4621 28.4999 27.1987 28.4722 26.9617 28.3683L24.6183 27.34C24.2876 27.195 23.9275 27.1299 23.567 27.15C23.2064 27.17 22.8557 27.2747 22.5432 27.4555C22.2306 27.6362 21.965 27.8881 21.7678 28.1906C21.5707 28.4931 21.4475 28.8377 21.4083 29.1967L21.125 31.74C21.0967 31.9959 20.9901 32.2367 20.8198 32.4297C20.6494 32.6227 20.4237 32.7585 20.1733 32.8183C17.7594 33.3938 15.2439 33.3938 12.83 32.8183C12.5793 32.7588 12.3532 32.6232 12.1825 32.4301C12.0119 32.2371 11.9051 31.9961 11.8767 31.74L11.595 29.2C11.5541 28.8422 11.4298 28.4989 11.2322 28.1978C11.0346 27.8968 10.7691 27.6462 10.4571 27.4663C10.1452 27.2864 9.79531 27.1821 9.43573 27.1619C9.07615 27.1418 8.71684 27.2062 8.38666 27.35L6.04333 28.3767C5.80609 28.4809 5.54232 28.5088 5.28852 28.4565C5.03473 28.4043 4.80344 28.2745 4.62666 28.085C2.9402 26.2808 1.68484 24.1177 0.954993 21.7583C0.878154 21.5102 0.88052 21.2443 0.961764 20.9976C1.04301 20.7509 1.19909 20.5356 1.40833 20.3817L3.47999 18.855C3.7714 18.6414 4.00839 18.3621 4.17174 18.0398C4.3351 17.7176 4.42022 17.3613 4.42022 17C4.42022 16.6387 4.3351 16.2824 4.17174 15.9602C4.00839 15.6379 3.7714 15.3586 3.47999 15.145L1.40833 13.6217C1.19909 13.4677 1.04301 13.2525 0.961764 13.0057C0.88052 12.759 0.878154 12.4931 0.954993 12.245C1.68673 9.88772 2.9432 7.72693 4.62999 5.925C4.80697 5.73583 5.03835 5.60631 5.29214 5.55436C5.54592 5.5024 5.80958 5.53058 6.04666 5.635L8.37999 6.66C8.71169 6.80379 9.07249 6.86777 9.4334 6.84681C9.79432 6.82585 10.1453 6.72054 10.4581 6.53933C10.7709 6.35811 11.0369 6.10606 11.2346 5.8034C11.4324 5.50075 11.5564 5.15594 11.5967 4.79667L11.88 2.25333C11.9086 1.99392 12.0177 1.74997 12.1919 1.55569C12.3662 1.36141 12.5969 1.22654 12.8517 1.17C14.045 0.905556 15.2678 0.765556 16.52 0.75ZM16.5 12C15.1739 12 13.9021 12.5268 12.9645 13.4645C12.0268 14.4021 11.5 15.6739 11.5 17C11.5 18.3261 12.0268 19.5979 12.9645 20.5355C13.9021 21.4732 15.1739 22 16.5 22C17.8261 22 19.0978 21.4732 20.0355 20.5355C20.9732 19.5979 21.5 18.3261 21.5 17C21.5 15.6739 20.9732 14.4021 20.0355 13.4645C19.0978 12.5268 17.8261 12 16.5 12Z"
                            fill="white"
                        />
                    </svg>

                    <!-- options button -->
                    <button>Options</button>

                    <!-- link button icon -->
                    <svg
                        width="33"
                        height="33"
                        viewBox="0 0 33 33"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M24.8813 12.5253L29.9108 17.5548C30.727 18.3601 31.3758 19.3189 31.8199 20.3759C32.2639 21.433 32.4945 22.5674 32.4984 23.7139C32.5022 24.8605 32.2792 25.9965 31.8422 27.0565C31.4052 28.1165 30.7629 29.0795 29.9522 29.8903C29.1414 30.701 28.1783 31.3433 27.1183 31.7803C26.0583 32.2173 24.9224 32.4403 23.7758 32.4365C22.6293 32.4326 21.4949 32.202 20.4378 31.758C19.3808 31.3139 18.422 30.6651 17.6167 29.8489L15.9412 28.1735C15.7147 27.9549 15.534 27.6933 15.4096 27.4041C15.2852 27.1149 15.2196 26.8038 15.2167 26.489C15.2139 26.1742 15.2737 25.862 15.3928 25.5706C15.5118 25.2791 15.6878 25.0143 15.9103 24.7916C16.1328 24.5689 16.3974 24.3927 16.6887 24.2734C16.9801 24.154 17.2922 24.0939 17.6071 24.0965C17.9219 24.099 18.233 24.1643 18.5223 24.2884C18.8117 24.4125 19.0734 24.593 19.2922 24.8194L20.9708 26.4964C21.7131 27.232 22.7165 27.6436 23.7615 27.6412C24.8066 27.6388 25.8081 27.2225 26.5469 26.4834C27.2858 25.7444 27.7018 24.7428 27.7039 23.6977C27.706 22.6527 27.2941 21.6494 26.5583 20.9073L21.5288 15.8778C20.9851 15.3339 20.2947 14.9605 19.5419 14.8033C18.7892 14.646 18.007 14.7118 17.2911 14.9926C17.0361 15.0938 16.7969 15.197 16.5735 15.3024L15.8401 15.6454C14.8601 16.088 14.1061 16.2777 13.1467 15.3198C11.7684 13.9415 12.1256 12.6691 13.8058 11.5105C15.4796 10.3588 17.5038 9.82967 19.5271 10.015C21.5503 10.2004 23.4447 11.0886 24.8813 12.5253ZM15.3817 3.02568L17.0572 4.70115C17.4893 5.14811 17.7285 5.7469 17.7234 6.36856C17.7183 6.99022 17.4693 7.585 17.0299 8.0248C16.5905 8.46461 15.9959 8.71424 15.3743 8.71993C14.7526 8.72562 14.1536 8.48692 13.7062 8.05524L12.0292 6.37978C11.6648 6.00226 11.2288 5.7011 10.7468 5.49387C10.2647 5.28663 9.74624 5.17748 9.22155 5.17277C8.69687 5.16806 8.1765 5.2679 7.69081 5.46645C7.20512 5.665 6.76384 5.95829 6.39271 6.32921C6.02158 6.70013 5.72804 7.14124 5.52922 7.62682C5.33039 8.1124 5.23026 8.63271 5.23467 9.1574C5.23908 9.68208 5.34795 10.2006 5.55491 10.6828C5.76187 11.165 6.06278 11.6011 6.44009 11.9657L11.4697 16.9953C12.0133 17.5391 12.7038 17.9126 13.4565 18.0698C14.2092 18.227 14.9914 18.1612 15.7073 17.8804C15.9623 17.7793 16.2015 17.676 16.4249 17.5706L17.1583 17.2276C18.1383 16.7851 18.8939 16.5954 19.8517 17.5532C21.23 18.9315 20.8728 20.204 19.1926 21.3626C17.5189 22.5143 15.4946 23.0434 13.4714 22.858C11.4481 22.6726 9.55372 21.7845 8.11714 20.3478L3.08758 15.3182C2.27144 14.513 1.62265 13.5542 1.17857 12.4971C0.734489 11.4401 0.50389 10.3056 0.500049 9.1591C0.496208 8.01257 0.719201 6.8766 1.15619 5.8166C1.59318 4.75659 2.23553 3.7935 3.04625 2.98278C3.85698 2.17205 4.82007 1.5297 5.88007 1.09271C6.94007 0.655724 8.07604 0.432731 9.22258 0.436572C10.3691 0.440413 11.5036 0.671013 12.5606 1.11509C13.6177 1.55917 14.5764 2.20954 15.3817 3.02568Z"
                            fill="white"
                        />
                    </svg>

                    <!-- link button -->
                    <button>Link to song</button>

                    <!-- song dropdown -->
                    <label for="song-subjects"></label>
                    <select name="subjects" id="song-subjects">
                        <option value="" selected disabled>Pick a song</option>
                        <!-- option 1 -->
                        <option value="Jehovah (1 - 12)">
                            Jehovah (1 - 12)
                        </option>

                        <!-- option 2 -->
                        <option value="Jesus/Ransom (13-20)">
                            Jesus/Ransom (13-20)
                        </option>

                        <!-- option 3 -->
                        <option value="The Kingdom (21-24)">
                            The Kingdom (21-24)
                        </option>

                        <!-- option 4 -->
                        <option
                            value="The anointed and
                                    the other sheep (25-27)"
                        >
                            The anointed and the other sheep (25-27)
                        </option>

                        <!-- option 5 -->
                        <option
                            value="Relationship With
                                    Jehovah (28-40)"
                        >
                            Relationship With Jehovah (28-40)
                        </option>

                        <!-- option 6 -->
                        <option value="Prayer (41-47)">Prayer (41-47)</option>

                        <!-- option 7 -->
                        <option value="Dedication (48-52)">
                            Dedication (48-52)
                        </option>

                        <!-- option 8 -->
                        <option value="Our Ministry (53-84)">
                            Our Ministry (53-84)
                        </option>

                        <!-- option 9 -->
                        <option value="Scriptures (94-98)">
                            Scriptures (94-98)
                        </option>

                        <!-- option 10 -->
                        <option value="Our Brotherhood (99-103)">
                            Our Brotherhood (99-103)
                        </option>

                        <!-- option 11 -->
                        <option value="Godly qualities (104-130)">
                            Godly qualities (104-130)
                        </option>

                        <!-- option 12 -->
                        <option value="Family & Friends (131-138)">
                            Family & Friends (131-138)
                        </option>

                        <!-- option 13 -->
                        <option value="Our Hope (139-147)">
                            Our Hope (139-147)
                        </option>

                        <!-- option 14 -->
                        <option value="Deliverance/Resurrection (148-151)">
                            Deliverance/ Resurrection (148-151)
                        </option>
                    </select>
                </section>
            </form>
        </article>

        <!-- @!List of Previously Generated Songs -->
        <ul>
            <li>
                <!-- link icon -->
                <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M13.8364 6.61247L16.5876 9.36362C17.034 9.8041 17.3889 10.3285 17.6318 10.9067C17.8747 11.4849 18.0008 12.1055 18.0029 12.7326C18.005 13.3598 17.8831 13.9811 17.644 14.561C17.405 15.1408 17.0536 15.6676 16.6102 16.111C16.1667 16.5545 15.6399 16.9059 15.0601 17.1449C14.4803 17.3839 13.8589 17.5059 13.2318 17.5038C12.6046 17.5017 11.9841 17.3756 11.4059 17.1327C10.8277 16.8897 10.3032 16.5349 9.86275 16.0884L8.94628 15.172C8.82236 15.0524 8.72349 14.9093 8.65545 14.7511C8.58741 14.5929 8.55155 14.4228 8.54997 14.2506C8.5484 14.0784 8.58113 13.9076 8.64627 13.7482C8.7114 13.5888 8.80763 13.4439 8.92934 13.3221C9.05105 13.2003 9.1958 13.1039 9.35516 13.0386C9.51451 12.9733 9.68527 12.9404 9.85747 12.9419C10.0297 12.9433 10.1999 12.979 10.3581 13.0469C10.5164 13.1148 10.6595 13.2135 10.7792 13.3373L11.6974 14.2546C12.1034 14.657 12.6523 14.8821 13.2239 14.8808C13.7956 14.8795 14.3434 14.6518 14.7475 14.2475C15.1517 13.8433 15.3792 13.2954 15.3804 12.7238C15.3816 12.1521 15.1562 11.6033 14.7538 11.1974L12.0026 8.44628C11.7053 8.14879 11.3276 7.94453 10.9158 7.85853C10.5041 7.77252 10.0762 7.80852 9.68464 7.96211C9.54516 8.01744 9.41431 8.07393 9.29212 8.13157L8.89095 8.31918C8.3549 8.56127 7.94248 8.66502 7.41768 8.14108C6.66375 7.38715 6.85915 6.69115 7.77821 6.0574C8.69374 5.42742 9.801 5.138 10.9077 5.2394C12.0144 5.3408 13.0506 5.82661 13.8364 6.61247ZM8.64021 1.41626L9.55668 2.33273C9.79304 2.57721 9.92392 2.90475 9.92112 3.24479C9.91833 3.58484 9.78209 3.91018 9.54175 4.15075C9.30141 4.39132 8.97619 4.52786 8.63615 4.53098C8.29611 4.53409 7.96845 4.40353 7.72374 4.1674L6.80641 3.25093C6.60707 3.04443 6.36861 2.87969 6.10493 2.76634C5.84126 2.65298 5.55764 2.59328 5.27064 2.5907C4.98364 2.58813 4.69901 2.64274 4.43334 2.75134C4.16767 2.85995 3.92629 3.02038 3.72328 3.22327C3.52028 3.42616 3.35971 3.66745 3.25096 3.93305C3.1422 4.19866 3.08743 4.48327 3.08984 4.77027C3.09225 5.05727 3.1518 5.34092 3.26501 5.60466C3.37821 5.8684 3.54281 6.10696 3.7492 6.30641L6.50034 9.05755C6.7977 9.35504 7.17539 9.5593 7.58713 9.6453C7.99886 9.73131 8.42674 9.69531 8.81832 9.54172C8.95781 9.48639 9.08865 9.4299 9.21085 9.37226L9.61202 9.18464C10.1481 8.94256 10.5613 8.83881 11.0853 9.36275C11.8392 10.1167 11.6438 10.8127 10.7248 11.4464C9.80923 12.0764 8.70197 12.3658 7.59527 12.2644C6.48857 12.163 5.45234 11.6772 4.66653 10.8914L1.91539 8.14021C1.46897 7.69973 1.11408 7.17529 0.871174 6.59709C0.628264 6.01889 0.502128 5.39835 0.500027 4.7712C0.497926 4.14406 0.619902 3.52268 0.858932 2.94287C1.09796 2.36306 1.44932 1.83625 1.89279 1.39279C2.33625 0.949324 2.86306 0.597961 3.44287 0.358932C4.02269 0.119902 4.64405 -0.00207434 5.2712 2.66873e-05C5.89835 0.00212772 6.51889 0.128264 7.09709 0.371174C7.67529 0.614083 8.19973 0.969832 8.64021 1.41626Z"
                        fill="white"
                    />
                </svg>
                <p>96</p>
                <h3>God's own book - a treasure</h3>
                <button>Link to song</button>
            </li>
        </ul>

        <!-- link icon -->

        <!-- @!options popup -->
        <article>
            <!-- options icon -->
            <svg
                width="32"
                height="33"
                viewBox="0 0 32 33"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M15.6209 0.25C16.8443 0.263333 18.0626 0.405 19.2576 0.671667C19.5118 0.728416 19.742 0.863171 19.9159 1.0571C20.0898 1.25103 20.1988 1.49445 20.2276 1.75333L20.5109 4.29833C20.551 4.65714 20.6746 5.00155 20.872 5.30384C21.0694 5.60614 21.335 5.85788 21.6474 6.03882C21.9598 6.21975 22.3103 6.32482 22.6708 6.34558C23.0312 6.36634 23.3915 6.3022 23.7226 6.15833L26.0559 5.13333C26.293 5.02892 26.5567 5.00074 26.8105 5.05269C27.0643 5.10464 27.2956 5.23416 27.4726 5.42333C29.1594 7.22526 30.4159 9.38605 31.1476 11.7433C31.2241 11.9912 31.2215 12.2568 31.1403 12.5031C31.059 12.7495 30.9032 12.9645 30.6943 13.1183L28.6259 14.645C28.3345 14.8586 28.0975 15.1379 27.9342 15.4602C27.7708 15.7824 27.6857 16.1387 27.6857 16.5C27.6857 16.8613 27.7708 17.2176 27.9342 17.5398C28.0975 17.8621 28.3345 18.1414 28.6259 18.355L30.6976 19.88C30.9068 20.0339 31.0629 20.2492 31.1442 20.4959C31.2254 20.7426 31.2278 21.0085 31.1509 21.2567C30.4197 23.6138 29.1638 25.7746 27.4776 27.5767C27.301 27.7658 27.07 27.8954 26.8165 27.9476C26.5631 27.9999 26.2996 27.9722 26.0626 27.8683L23.7193 26.84C23.3886 26.695 23.0284 26.6299 22.6679 26.65C22.3074 26.67 21.9567 26.7747 21.6441 26.9555C21.3316 27.1362 21.066 27.3881 20.8688 27.6906C20.6716 27.9931 20.5485 28.3377 20.5093 28.6967L20.2259 31.24C20.1977 31.4959 20.0911 31.7367 19.9207 31.9297C19.7504 32.1227 19.5246 32.2585 19.2743 32.3183C16.8603 32.8938 14.3449 32.8938 11.9309 32.3183C11.6803 32.2588 11.4542 32.1232 11.2835 31.9301C11.1128 31.7371 11.006 31.4961 10.9776 31.24L10.6959 28.7C10.655 28.3422 10.5308 27.9989 10.3332 27.6978C10.1356 27.3968 9.8701 27.1462 9.5581 26.9663C9.2461 26.7864 8.89627 26.6821 8.53668 26.6619C8.1771 26.6418 7.81779 26.7062 7.48761 26.85L5.14428 27.8767C4.90704 27.9809 4.64327 28.0088 4.38948 27.9565C4.13568 27.9043 3.90439 27.7745 3.72761 27.585C2.04115 25.7808 0.785787 23.6177 0.0559452 21.2583C-0.0208942 21.0102 -0.0185276 20.7443 0.0627163 20.4976C0.14396 20.2509 0.300045 20.0356 0.509278 19.8817L2.58095 18.355C2.87236 18.1414 3.10934 17.8621 3.2727 17.5398C3.43605 17.2176 3.52117 16.8613 3.52117 16.5C3.52117 16.1387 3.43605 15.7824 3.2727 15.4602C3.10934 15.1379 2.87236 14.8586 2.58095 14.645L0.509278 13.1217C0.300045 12.9677 0.14396 12.7525 0.0627163 12.5057C-0.0185276 12.259 -0.0208942 11.9931 0.0559452 11.745C0.78768 9.38772 2.04415 7.22693 3.73094 5.425C3.90792 5.23583 4.1393 5.10631 4.39309 5.05436C4.64688 5.0024 4.91054 5.03058 5.14761 5.135L7.48094 6.16C7.81264 6.30379 8.17344 6.36777 8.53436 6.34681C8.89527 6.32585 9.24624 6.22054 9.55906 6.03933C9.87189 5.85811 10.1379 5.60606 10.3356 5.3034C10.5333 5.00075 10.6573 4.65594 10.6976 4.29667L10.9809 1.75333C11.0095 1.49392 11.1186 1.24997 11.2929 1.05569C11.4671 0.861408 11.6978 0.72654 11.9526 0.67C13.1459 0.405556 14.3687 0.265556 15.6209 0.25ZM15.6009 11.5C14.2749 11.5 13.0031 12.0268 12.0654 12.9645C11.1277 13.9021 10.6009 15.1739 10.6009 16.5C10.6009 17.8261 11.1277 19.0979 12.0654 20.0355C13.0031 20.9732 14.2749 21.5 15.6009 21.5C16.927 21.5 18.1988 20.9732 19.1365 20.0355C20.0742 19.0979 20.6009 17.8261 20.6009 16.5C20.6009 15.1739 20.0742 13.9021 19.1365 12.9645C18.1988 12.0268 16.927 11.5 15.6009 11.5Z"
                    fill="#FFC700"
                />
            </svg>

            <!-- cancel button -->
            <button>
                <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM14.3 14.3C14.2075 14.3927 14.0976 14.4663 13.9766 14.5164C13.8557 14.5666 13.726 14.5924 13.595 14.5924C13.464 14.5924 13.3343 14.5666 13.2134 14.5164C13.0924 14.4663 12.9825 14.3927 12.89 14.3L10 11.41L7.11 14.3C6.92302 14.487 6.66943 14.592 6.405 14.592C6.14057 14.592 5.88698 14.487 5.7 14.3C5.51302 14.113 5.40798 13.8594 5.40798 13.595C5.40798 13.4641 5.43377 13.3344 5.48387 13.2135C5.53398 13.0925 5.60742 12.9826 5.7 12.89L8.59 10L5.7 7.11C5.51302 6.92302 5.40798 6.66943 5.40798 6.405C5.40798 6.14057 5.51302 5.88698 5.7 5.7C5.88698 5.51302 6.14057 5.40798 6.405 5.40798C6.66943 5.40798 6.92302 5.51302 7.11 5.7L10 8.59L12.89 5.7C12.9826 5.60742 13.0925 5.53398 13.2135 5.48387C13.3344 5.43377 13.4641 5.40798 13.595 5.40798C13.7259 5.40798 13.8556 5.43377 13.9765 5.48387C14.0975 5.53398 14.2074 5.60742 14.3 5.7C14.3926 5.79258 14.466 5.90249 14.5161 6.02346C14.5662 6.14442 14.592 6.27407 14.592 6.405C14.592 6.53593 14.5662 6.66558 14.5161 6.78654C14.466 6.90751 14.3926 7.01742 14.3 7.11L11.41 10L14.3 12.89C14.68 13.27 14.68 13.91 14.3 14.3Z"
                        fill="#FF4662"
                    />
                    <path
                        d="M10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM14.3 14.3C14.2075 14.3927 14.0976 14.4663 13.9766 14.5164C13.8557 14.5666 13.726 14.5924 13.595 14.5924C13.464 14.5924 13.3343 14.5666 13.2134 14.5164C13.0924 14.4663 12.9825 14.3927 12.89 14.3L10 11.41L7.11 14.3C6.92302 14.487 6.66943 14.592 6.405 14.592C6.14057 14.592 5.88698 14.487 5.7 14.3C5.51302 14.113 5.40798 13.8594 5.40798 13.595C5.40798 13.4641 5.43377 13.3344 5.48387 13.2135C5.53398 13.0925 5.60742 12.9826 5.7 12.89L8.59 10L5.7 7.11C5.51302 6.92302 5.40798 6.66943 5.40798 6.405C5.40798 6.14057 5.51302 5.88698 5.7 5.7C5.88698 5.51302 6.14057 5.40798 6.405 5.40798C6.66943 5.40798 6.92302 5.51302 7.11 5.7L10 8.59L12.89 5.7C12.9826 5.60742 13.0925 5.53398 13.2135 5.48387C13.3344 5.43377 13.4641 5.40798 13.595 5.40798C13.7259 5.40798 13.8556 5.43377 13.9765 5.48387C14.0975 5.53398 14.2074 5.60742 14.3 5.7C14.3926 5.79258 14.466 5.90249 14.5161 6.02346C14.5662 6.14442 14.592 6.27407 14.592 6.405C14.592 6.53593 14.5662 6.66558 14.5161 6.78654C14.466 6.90751 14.3926 7.01742 14.3 7.11L11.41 10L14.3 12.89C14.68 13.27 14.68 13.91 14.3 14.3Z"
                        fill="black"
                        fill-opacity="0.2"
                    />
                </svg>
            </button>
            <h1>Options</h1>

            <!-- options -->
            <div>
                <!-- setting 1 -->
                <input
                    type="radio"
                    id="default-setting"
                    name="option1"
                    value="Generate from numbers 1 - 151"
                />
                <label for="default-setting"
                    >Generate from numbers 1 - 151</label
                >

                <!-- setting 2 -->
                <input
                    type="radio"
                    id="subjects-setting"
                    name="option2"
                    value="Generate by subjects"
                />
                <label for="subjects-setting">Generate by subjects</label>

                <!-- setting 3 -->
                <input
                    type="radio"
                    id="animation-setting"
                    name="option3"
                    value="Turn Animation On/Off"
                />
                <label for="animation-setting">Turn Animation On/Off</label>

                <!-- setting 4 -->
                <input
                    type="radio"
                    id="darkmode-setting"
                    name="option4"
                    value="Turn Dark-mode On/Off"
                />
                <label for="darkmode-setting">Turn Darkmode On/Off</label>
            </div>
        </article>
    </body>
</html>
